#root {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.gridContainer {
  padding: 15px;
  display: grid;

  grid-template-areas:
    "search search search"
    "todo inprocess done";

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px minmax(300px, 600px);
  gap: 20px;
}

.gridContainer > * {
  border: 1px solid green;
}
.search {
  grid-area: search;
}

.todo {
  grid-area: todo;
}

.inprocess {
  grid-area: inprocess;
}

.done {
  grid-area: done;
}
