#root {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.gridContainer {
  padding: 15px;
  display: grid;

  grid-template-areas:
    "search search search"
    "todo inprocess done";

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px minmax(300px, 550px);
  gap: 20px;
}

.gridContainer > * {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 17px;
}

.search {
  grid-area: search;
  box-shadow: none;
}

.todo {
  grid-area: todo;
  border: 3px solid #ffcccc;
}

.inprocess {
  grid-area: inprocess;
  border: 3px solid #fff9cc;
}

.done {
  grid-area: done;
  border: 3px solid #ccffcc;
}

.todo h2,
.inprocess h2,
.done h2 {
  background-color: rgb(235, 227, 243);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  padding: 25px;
  font-size: 1.4em;
  font-family: "Bitcount Grid Double", system-ui;
  margin: 0;
  color: #1f2937;
}

.todo h2 {
  background-color: #ffcccc;
}

.done h2 {
  background-color: #ccffcc;
}
.inprocess h2 {
  background-color: #fff9cc;
}
