.column {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  width: 100%;
  height: 100%;
  border-radius: 13px;
  background-color: #f8f8f8;
}

.cardScroll {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 5px;
  max-height: 457px;
}

.cardScroll::-webkit-scrollbar {
  width: 6px;
}

.cardScroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.cardScroll::-webkit-scrollbar-track {
  background: transparent;
}

.cardContainer {
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.addButton {
  background-color: white;
  width: 37px;
  height: 37px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 19px;
  padding-top: 3px;
  border: 1px solid #ebebeb;
  border-radius: 25px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  color: #6b7280;
  margin-bottom: 6px;
  margin-top: 3px;
}

.addButton:hover {
  transform: scale(1.1);
}
